:root{
    --main-color: #ff6700;
    --secondary-color: #9b9b9b;
    --third-color: #f0f0f0;
    --white-color: white;
    --black-color: black;
    --base-text-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--base-text-size);
}
/*---------------------------------Navbar CSS---------------------------------*/
.navbarcss{
    padding: 7px 30px 3.5px 30px;
    background-color: var(--white-color);
}
#navbarNav ul li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
#navbarNav a{
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.3s ease;
    text-align: center;
    font-size: var(--base-text-size);
    font-weight: bold;
    letter-spacing: 1px;
}
#navbarNav a:hover{
    color: var(--main-color);
}
nav.sticky{
    box-shadow: 0px 0px 10px var(--secondary-color);
}

/*---------------------------------First page CSS---------------------------------*/
.fisrt-page{
    margin-bottom: 100px;
    margin-top: 100px;
}
.introduction{ 
    padding-top: 10%;
}
.introduction > h1{
    color: var(--main-color);
}
.introduction > h1 > span{
    color: var(--black-color);
}
.person-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    text-transform: uppercase;
}
.info > span{
    color: var(--main-color);
}
.introduction .letstalk-btn{
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 4px 20px 5px 20px;
    margin: 10px;
    margin-top: 0;
    transition: all 0.4s ease;
    font-weight: 600;
    border-radius: 3px;
    float: right;
}
.introduction .letstalk-btn:hover{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}
/*-----------------------------------About Me CSS-------------------------------------*/
.about-me .image-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-div{
    padding-top: 120px;
    padding-bottom: 120px;
    color: var(--black-color);
}
.text-div > p{
    font-weight: 470;
    background-color: rgba(0, 0, 0, 0.1);
}
.text-div h1 span{
    color: var(--main-color);
}

/*-------------------------------------Offered Services Section----------------------------------*/
.services > h1{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    width: max-content;
}
.services > h1 > span{
    color: var(--main-color);
}
.services h1::before{
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}
.services h1:hover::before, .services h1:active::before{
    width: 100%;
    left: 0%;
}

.services .row div{
    margin: 0;
    padding: 10px;
    text-align: center;
    transition: all ease-in 0.3s;
}
.services .web-development:hover, .services .web-design:hover, .services .logo-design:hover{
    transition: all ease-in-out 0.3s;
    transform: scale3d(1.05,1.05,1.05);
}
.services .image{
    height: 500px;
    zoom: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: no-repeat center;
}
.services .web-development .image{
    background-image: url(images/web-deve-orange-color-500px.jpg);
}
.services .web-design .image{
    background-image: url(images/web-design-image-500px.jpg);
}
.services .logo-design .image{
    background-image: url(images/logo-design-image-500px.jpg);
}
.services .btn{
    border: 1px solid black;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 8px 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    border-radius: 50px;
}
.services .btn:hover{ 
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--white-color);
    transition: all 0.3s ease-out;
}
.services > .my-quot{
    font-weight: 500;
    font-size: large;
    color: var(--black-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}
.services .line{
    color: var(--main-color);
}
/*-------------------------------------Feedback CSS------------------------------------*/
.feedback-css > h1{
    padding: 10px;
    position: relative;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.feedback-css h1::before{
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -1px;
    left: 50%;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}
.feedback-css h1:hover::before, .feedback-css h1:active::before{
    width: 100%;
    left: 0%;
}
.feedback-css > .line{
    color: var(--main-color);
}
.feedback-css .item-1, .feedback-css .item-2{
    height: 200px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 10px;
}
.feedback-css .item-1:hover, .feedback-css .item-2:hover{
    border: 1px solid var(--main-color);
}
.feedback-css .image{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.feedback-css .item-1 .image{
    background: url(/images/MenPic2-100px.jpg) no-repeat center;
}
.feedback-css .item-2 .image{
    background: url(/images/MenPic1-100px.jpg) no-repeat center;
}
.feedback-css .text{
    margin: 5px;
    margin-top: 10px;
}
.feedback-css .name{
    text-align: right;
    padding: 20px;
}
